<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--360浏览器优先以webkit内核解析-->
    <title>AI_FEED</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="../../static/css/main/animate.min.css" th:href="@{/css/main/animate.min.css}" rel="stylesheet"/>
    <link href="../../static/css/main/style.min862f.css" th:href="@{/css/main/style.min862f.css}" rel="stylesheet"/>
    <link href="../../static/css/video/video-js.css" th:href="@{/css/video/video-js.min.css}" rel="stylesheet"/>
    <link href="../../static/css/normalize.min.css" th:href="@{/css/normalize.min.css}" rel="stylesheet"/>
    <link href="../../static/css/button.css" th:href="@{/css/button.css}" rel="stylesheet"/>
    <!--echarts 可视化图形 插件-->
    <script th:src="@{/js/plugins/echarts/echarts.min.js}"></script>
    <script th:src="@{/js/plugins/echarts/echarts-gl.min.js}"></script>
    <script th:src="@{/js/plugins/video/video.min.js}"></script>
</head>
<div>
    <div class="row">
    <div class="col-lg-8">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>视频播放</h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="dropdown-toggle" data-toggle="dropdown" href="form_basic.html#">
                    <i class="fa fa-wrench"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="form_basic.html#">选项1</a>
                    </li>
                    <li><a href="form_basic.html#">选项2</a>
                    </li>
                </ul>
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <video id="example_video_1" class="video-js vjs-default-skin" controls preload="none" width="900" height="500"
                   poster="http://video-js.zencoder.com/oceans-clip.png"
                   data-setup="{}">
                <source src="rtmp://47.94.238.110:1935/hls/test" type='rtmp/flv' />
                <track kind="captions" src="demo.captions.vtt" srclang="en" label="English"></track><!-- Tracks need an ending tag thanks to IE9 -->
                <track kind="subtitles" src="demo.captions.vtt" srclang="en" label="English"></track><!-- Tracks need an ending tag thanks to IE9 -->
            </video>
        </div>
    </div>
    </div>
    <div class="col-lg-4" >
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox-content">
                    <center><h2>投食</h2></center>
                    <div class="ibox float-e-margins" style="height: 50px">
                        <div class="normal-container">
                            <div class="smile-rating-container">
                                <div class="smile-rating-toggle-container">
                                    <form class="submit-rating">
                                        <input id="meh"  name="satisfaction" type="radio" onclick="connectWS(this.value)" value="09" />
                                        <input id="fun" name="satisfaction" type="radio" onclick="connectWS(this.value)" value="10"/>
                                        <label for="meh" class="rating-label rating-label-meh" >OFF</label>
                                        <div class="smile-rating-toggle" ></div>

                                        <div class="rating-eye rating-eye-left" ></div>
                                        <div class="rating-eye rating-eye-right"></div>

                                        <div class="mouth rating-eye-bad-mouth"></div>

                                        <div class="toggle-rating-pill"></div>
                                        <label for="fun" class="rating-label rating-label-fun"  >NO</label>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox-content">
                    <center><h2>喂水</h2></center>
                    <div class="ibox float-e-margins" style="height: 50px">
                        <div class="normal-container">
                            <div class="smile-rating-container">
                                <div class="smile-rating-toggle-container">
                                    <form class="submit-rating">
                                        <input id="mehT"  name="satisfaction" type="radio" onclick="connectWS(this.value)" value="11" />
                                        <input id="funT" name="satisfaction" type="radio" onclick="connectWS(this.value)" value="12"/>
                                        <label for="mehT" class="rating-label rating-label-meh" >OFF</label>
                                        <div class="smile-rating-toggle" ></div>

                                        <div class="rating-eye rating-eye-left" ></div>
                                        <div class="rating-eye rating-eye-right"></div>

                                        <div class="mouth rating-eye-bad-mouth"></div>

                                        <div class="toggle-rating-pill"></div>
                                        <label for="funT" class="rating-label rating-label-fun"  >NO</label>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>
</div>
<script th:src="@{/js/plugins/video/video.min.js}"></script>
<script th:src="@{/js/view/operation/monitoring.js}"></script>
</body>
</html>
