<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--360浏览器优先以webkit内核解析-->
    <title>AI_FEED</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="../../static/css/main/animate.min.css" th:href="@{/css/main/animate.min.css}" rel="stylesheet"/>
    <link href="../../static/css/main/style.min862f.css" th:href="@{/css/main/style.min862f.css}" rel="stylesheet"/>

    <!--echarts 可视化图形 插件-->
    <script th:src="@{/js/plugins/echarts/echarts.min.js}"></script>
    <script th:src="@{/js/plugins/echarts/echarts-gl.min.js}"></script>
</head>
<div>
    <div class="row">
    <div class="col-lg-8">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>视频播放</h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="dropdown-toggle" data-toggle="dropdown" href="form_basic.html#">
                    <i class="fa fa-wrench"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="form_basic.html#">选项1</a>
                    </li>
                    <li><a href="form_basic.html#">选项2</a>
                    </li>
                </ul>
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <div class="player player-video fullscreen-enabled fullscreen-hide-controls">
                <div class="player-video-wrapper">
                    <div class="player-captions">
                        <span></span>
                    </div>
                    <video poster="../../../plyr.io/poster.jpg" crossorigin="">
                    <!-- Video files -->
                    <source src="https://cdn.selz.com/plyr/1.0/movie.mp4" type="video/mp4">
                    <source src="https://cdn.selz.com/plyr/1.0/movie.webm" type="video/webm">

                    <!-- Text track file -->
                    <track kind="captions" label="English" srclang="en" src="https://cdn.selz.com/plyr/1.0/example_captions_en.vtt" default="">

                    <!-- Fallback for browsers that don't support the <video> element -->
                    <a href="https://cdn.selz.com/plyr/1.0/movie.mp4">Download</a>
                </video>
                </div>
                <div class="player-controls">
                    <div class="player-progress">
                        <label for="seek9917" class="sr-only">Seek</label>
                        <input id="seek9917" class="player-progress-seek" type="range" min="0" max="100" step="0.5" value="0" data-player="seek">
                        <progress class="player-progress-played" max="100" value="0"><span>0</span>% 播放中</progress>
                        <progress class="player-progress-buffer" max="100" value="0"><span>0</span>% 缓冲中</progress>
                    </div>
                    <span class="player-controls-left">
                        <button type="button" data-player="restart" style="width: 56px;height: 26px;">
                            <svg><use xlink:href="#icon-restart"></use></svg>
                            <span class="player-tooltip">重新播放</span>
                        </button>
                        <button type="button" data-player="rewind">
                            <svg><use xlink:href="#icon-rewind"></use></svg>
                            <span class="player-tooltip">后退10秒</span>
                        </button>
                        <button type="button" data-player="play" aria-label="播放">
                            <svg><use xlink:href="#icon-play"></use></svg>
                            <span class="player-tooltip">播放</span>
                        </button>
                        <button type="button" data-player="pause">
                            <svg><use xlink:href="#icon-pause"></use></svg>
                            <span class="player-tooltip">暂停</span></button>
                        <button type="button" data-player="fast-forward">
                            <svg><use xlink:href="#icon-fast-forward"></use></svg>
                            <span class="player-tooltip">快进10秒</span></button>
                        <span class="player-time">
                            <span class="sr-only">当前时间</span>
                            <span class="player-current-time">00:10</span>
                        </span>
                        <span class="player-time">
                            <span class="sr-only">持续时间</span>
                            <span class="player-duration">00:00</span>
                        </span>
                    </span>
                    <span class="player-controls-right">
                        <button type="button" data-player="mute" aria-pressed="false">
                            <svg class="icon-muted">
                                <use xlink:href="#icon-muted"></use>
                            </svg>
                            <svg><use xlink:href="#icon-volume"></use></svg>
                            <span class="player-tooltip">静音</span>
                        </button>
                        <label for="volume9917" class="sr-only">音量</label>
                        <input id="volume9917" class="player-volume" type="range" min="0" max="10" value="5" data-player="volume">
                        <button type="button" data-player="fullscreen" aria-pressed="false">
                            <svg class="icon-exit-fullscreen">
                                <use xlink:href="#icon-exit-fullscreen"></use>
                            </svg>
                            <svg><use xlink:href="#icon-enter-fullscreen"></use></svg>
                            <span class="player-tooltip">全屏</span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
</div>

</body>
</html>
